@font-face {
    font-family: Norse-Bold;
    src: url("Norse-Bold.otf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container
{
    width: 100%;
    display: flex;
    height: 100vh;
}

.imgSection
{
    width: 40%;
    background: url('halie-west-25xggax4bSA-unsplash.jpg') no-repeat center;
    position: relative;
}

img
{
    width: 15%;
}

.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    width: 100%;
    top: 150px;
    padding: 0.5rem;
    font-family: "norse-bold";
    background: rgba(0, 0, 0, 0.541);
}

.logo h1
{
    font-family: Norse-Bold;
    font-size: 70px;
}

.formSection
{
    width: 60%;
    height: inherit;
    background: #f9fafb;
    font-family: Arial, Helvetica, sans-serif;
}

.paragraph1
{
    margin-top: 3em;
    font-family: Arial, Helvetica, sans-serif;
    width: 53%;
    line-height: 1.2;
    margin-left: 20px;
    font-weight: bold;
}

.paragraph2
{
    margin-left: 20px;
    margin-top: 1.5em;
    font-weight: bold;
}

.list
{
    display: flex;
}

.form
{
    background-color: #fff;
    margin-top: 3em;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.219);
    margin-bottom: 20px;
}

.list
{
    padding-bottom: 20px;
    display: flex;
    width: 100%;
    gap: 50px;
}

.paragraph1 span
{
    font-style: italic;
}

.paragraph2 span
{
    font-style: italic;
}

label
{
    display: block;
    margin-top: 20px;
    font-size: 10px;
    font-weight: bold;
}

input
{
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid rgba(199, 196, 196, 0.521);
}

input:focus
{
    border-radius: 3px;
    outline: 1px solid rgba(13, 142, 202, 0.836);
}

button
{
    cursor: pointer;
    padding: 10px 35px;
    margin-bottom: 20px;
    font-weight: bold;
    border: none;
    background:  #596D48;
    color: #fff;
    border-radius: 5px;
}

.span
{
    font-size: smaller;
}

a
{
    text-decoration: none;
}

.span,button
{
    margin-left: 20px;
}

@media screen and (max-width: 500px)
{
    .container
     {
        display: block;
    }
.imgSection
    {
        width: 100%;
        min-height: 500px;
        background: url('halie-west-25xggax4bSA-unsplash.jpg') no-repeat center;
        position: relative;
    }
.formSection
    {
        padding-top: 10px;
        width: 100%;
        min-height: 750px;
        background: #f9fafb;
    }
.paragraph1
    {
        width: 90%;
        text-align: center;
    }
.list
    {
        display: block;
    }
.paragraph2
    {
        text-align: center;
    }
}
@media screen and (max-width: 750px)
{
    .paragraph1
    {
        width: 90%;
    }
    input
    {
        padding: 2.5px 5px;
        width: 70%;
    }
}